<nav class="navbar navbar-light bg-warning">
    <div class="container-fluid">
      <div class="d-flex">
        <i class="fas fa-user-shield" style="font-size: 3rem;"></i>
      </div>
      <div class="d-flex">
       <a routerLink=''class="active" ><button class="btn mx-2 text-light" style="width: 11rem;height: 4rem;background: #DC143C;"><span><i class="fas fa-user-tie text-light mx-2" style="font-size: 2rem;"></i></span>Executive</button></a>
       <a routerLink="mid-employee"><button class="btn  text-light mx-2"style="width: 11rem;height: 4rem;background: #008B8B;" ><span><i class="fas fa-user-friends text-light mx-2" style="font-size: 2rem;"></i></span>Intermediate</button></a>
       <a routerLink="entry-employee" class="active"><button class="btn text-light mx-2"style="width: 11rem;height: 4rem;background: #663399;" ><span><i class="fas fa-users text-light mx-2" style="font-size: 2rem;"></i></span>Entry</button></a>
      </div>
      
        <div class="d-flex">
            <button (click)="clickAddEmployee()" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin: 0;padding: 0;height: 100vh;background-image: linear-gradient(to right, #434343 0%, black 100%);">

<h2 class="text-center py-3" style="color: #663399;">Entry-Level Employee Dashboard</h2>
<div class="container-fluid px-5">
<table class="pt-5 mt-5 table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

      <tr *ngFor="let row of entryemployeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
<button  class="btn btn-primary mx-2"(click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"><span><i class="fas fa-user-edit"></i></span> Edit</button>
<button class="btn btn-danger mx-2" (click)="deleteEmployeerow(row)"><span><i class="fas fa-trash"></i></span> Delete</button>

            </td>
        </tr>
    </tbody>
</table>
</div>
<!--model-->
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-warning">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
  
            <form [formGroup]="formValue">
                
                <div class="mb-3">
                    <label  class="form-label">First Name</label>
                    <input type="text" formControlName=firstName class="form-control " id="first_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Last Name</label>
                    <input type="text" formControlName=lastName class="form-control" id="last_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="email" formControlName=email class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Mobile</label>
                    <input type="text" formControlName=mobile class="form-control" id="mobile" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Salary</label>
                    <input type="text" formControlName=salary class="form-control" id="salary" aria-describedby="emailHelp">
                </div>
                
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>